/classes/
/.classpath
/.project
/lib/
/logs/
/data/
*.jar
*.class
/java.hprof.txt
/target/
*.bbl
*.blg
*.lof
*.log
*.toc
*.aux
*.gz
*.tar
*.bcf
*.idx
*.loe
*.run.xml
*.nlo
*.out
*.glg
*.glo
*.gls
*.ilg
*.ind
*.out
*.xdy
*.ist
*syntex*
/.externalToolBuilders/
/.settings/
/.README.md.html
/clj.bat
/test.txt
/tests.txt
/affine-l2.txt
/xy-l2.txt
/tst/
/affine-qr.txt
/stackloss-l2.txt
/stackloss-qr.txt
/engel-affine.txt
/engel-constant.txt
/stackloss-l1.txt
/linear-l2.txt
/linear-qr.txt
/engel-linear.txt
/stackloss-affine.txt
/stackloss-constant.txt
/stackloss-linear.txt
/taiga.txt
